.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.rectangle {
  position: relative;
  left: 50%;
  top: calc(300px * var(--screen-ratio));
  transform: translate(-50%);

  width: calc(1000px * var(--screen-ratio)); 
  /*크기 자동 조정*/
  height: calc(400px * var(--screen-ratio)); 
  /*크기 자동 조정*/

  background-color: #dadada;
  text-align: center;
}

.pageExplanation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  top: calc(110px * var(--screen-ratio) + (-2px * var(--changeSize) * var(--screen-ratio))); 
  /*위치 자동 조정*/

  font-family: 'Inner', sans-serif; 
  font-size: calc((40px * var(--screen-ratio)) + (4px * var(--changeSize) * var(--screen-ratio)));  
  /*크기 자동 조정*/
  color: black;
  font-weight: normal;
  white-space: nowrap;
}

.goBackButton {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  top: calc(300px * var(--screen-ratio));
  /*위치 자동 조정*/

  width: calc(450px * var(--screen-ratio));
  /*크기 자동 조정*/
  height: calc(60px * var(--screen-ratio)); 
  /*크기 자동 조정*/

  border: 0;
  background-color: #b5b5b5;
  cursor: pointer;
}

.goBackButton:hover {
  /* 호버 효과 */
  background-color: #878787;
}

.goBackButtonText {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);

  font-family: 'Inner', sans-serif;
  font-size: calc((40px * var(--screen-ratio)) + (4px * var(--changeSize) * var(--screen-ratio)));
  /*크기 자동 조정*/
  color: black;
  font-weight: normal;
  white-space: nowrap;
}




